[Unit]
Description=GW Face Recognition Service for Daily Activities App
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/html/glob/it/mkPortal/dailyActivitiesApp/face_services
ExecStart=/var/www/html/glob/it/mkPortal/dailyActivitiesApp/face_services/venv/bin/gunicorn --bind 127.0.0.1:5001 --workers 2 --timeout 60 face_service:app
Restart=always
RestartSec=5
StandardOutput=append:/var/www/html/glob/it/mkPortal/dailyActivitiesApp/face_services/face_service.log
StandardError=append:/var/www/html/glob/it/mkPortal/dailyActivitiesApp/face_services/face_service.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target